body {
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background-image: url("https://images7.alphacoders.com/102/1029683.jpg");
    background-position: center;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows:  1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: transparent;
}

header .header-icons-container .icons {
    width: 150px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

header .icons span:hover {
    color:black;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
    color:black;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;

}
nav .profile-link a {
    color: white;
    border-bottom: 1px solid white;
}

nav .profile-link a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.main-button {
    background-color: #48cfad;
    width: 100px;
    height: 25px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
  }

.main-button:hover {
    background-color:#2aad8c;
}


/* Estilos para menú principal  */
.home-main-title {
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    margin:15px;
}

.main-section .main-title {

    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: black;
    text-align: center;
}


.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

/* Estilos para sección de Blog */

.principal-blog-container {
    margin: 40px;
}

.initial-blog-view, .last-blogs-container {
    padding: 15px;
    display: flex;
    text-align: justify;
    background-color: white;
    border-radius: 5px;
}

h3 {
    cursor: pointer;
}

.initial-blog-image img, .last-blog-posted img {
    border-radius: 5px;
   
}

.initial-blog-paragraph-container {
    padding: 45px;
    display: block;
}
.last-blogs-title {
    text-align: center;
}
.last-blogs-container {
    display: flex;
    text-align: justify;
   
   
}
.last-blogs-container img {
    width: 350px;
    height: 200px;
}
.last-blog-posted {
   padding: 15px;
    
}
.blog-paragraph {
    font-family: 'Quicksand', sans-serif;
}
footer {
    text-align: center;
    height: 25px;
}
footer a:hover {
 color: white;   
}

